# File Storage Paths
IMAGE_DIR=assets/images

# Bucket Name (This will be overridden by DevOps)
BUCKET_NAME=tilelens-assets

# NOSQL Table
TABLE_NAME=images

# MongoDB Configuration
MONGO_URI=mongodb://mongodb:27017/tilelens

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Worker Configuration
WORKER_CONCURRENCY=2

# AWS Region 
AWS_REGION=ap-southeast-2

# SQS URL 
SQS_TILING_QUEUE_URL=
